input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
      border-color: #000000;
    }
    input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
      border-color: #000000;
      background-color: #FF0000;
      background-image: none;
      filter: none;

    }
